extends layout

block content
	include login
	=console.log(user)
	if venueArray
		for venue in venueArray
			button.venue-button(data-id = '#{venue._id}')= venue.name
	else
		for venue in user.favVenues
			button.venue-button(data-id = '#{venue._id}')= venue.name
			=console.log(venue.bands)



	
