doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		title jmpress demo circa 1989
		meta(name='viewport', content='width=device-width, maximum-scale=1.0, initial-scale=1.0, user-scalable=yes')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
		link(type='text/css' rel='stylesheet' href='/css/main.css')




			



	body
		script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js")
		script(src="http://cdnjs.cloudflare.com/ajax/libs/jmpress/0.4.5/jmpress.min.js")
		script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
		script(src="/main.js")
		block content
	